{% extends "base.html" %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Aman Ecommerce </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>

            <div class="col-8">
                <br><br>
                <p align="justify">

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, iure sed enim, hic natus saepe dolor sapiente in odit esse, dolore assumenda eius! Ab exercitationem sunt perferendis necessitatibus doloribus fugit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem pariatur nulla iure quae quas doloribus explicabo deserunt distinctio iusto ut ratione quam aut dicta cum praesentium repellat nihil, aliquam ipsam!
                Aperiam natus porro perferendis facere? Magnam corporis esse, perspiciatis iure beatae quae quibusdam, ex, quam placeat dolores repellendus fugiat officia? Natus quae voluptates autem esse? Accusantium hic suscipit veniam ex?
                Minima quidem dignissimos consequatur voluptatem ad eius cum asperiores exercitationem quisquam, excepturi ab similique.
                <p align="justify"> Tempore neque dolorum, unde aut error voluptatem accusamus saepe temporibus nesciunt dolorem eius quae, maxime reprehenderit.
                Provident quam inventore ipsam quasi ad deserunt vel eveniet dignissimos reiciendis eum natus, labore delectus vero alias beatae nobis aspernatur neque sunt. Sapiente dicta doloribus odit aspernatur perferendis quibusdam veniam.
                Quod laborum nisi inventore, nostrum facilis dolores laboriosam suscipit doloribus reiciendis dolor a? Pariatur vel dolorum iusto. Similique, tempore, architecto recusandae nostrum ex consequuntur quisquam quae commodi at, aperiam placeat.
                Laborum illum, doloremque ipsam pariatur provident fuga soluta quidem! Aut cupiditate ratione, ad doloremque excepturi adipisci, quam ducimus dolor iste eveniet blanditiis minus reiciendis culpa, numquam odit alias quis? Quibusdam. </p>
                <p align="justify">
                Quisquam, necessitatibus doloremque reiciendis numquam amet alias ab itaque? Rem nam totam corporis molestias doloribus a commodi, animi consectetur. Temporibus sit corrupti culpa magnam commodi officia natus. Autem, fuga animi.
                Eius eos optio deserunt officia sed ipsum dolores fuga repellendus facere possimus, nostrum iure veritatis, quidem, modi recusandae corporis alias accusamus consequatur. Laboriosam blanditiis rem error omnis voluptatibus dolore sed.
                At fugiat placeat repellat maxime! Dolorum pariatur non tempora sed enim laborum neque officia, minus dolore earum dolores. Ab dolor laboriosam temporibus fugiat tenetur cupiditate iusto tempora, minima modi quos?
                Laboriosam nemo quis optio praesentium facilis sed illo quos. Architecto ullam, optio sed quae aliquam iusto commodi autem debitis expedita facilis magnam? Suscipit natus et illo omnis ex nihil cum!
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock  %}